.approachCard {
  width: 80%;
  height: 612px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.approachHeading {
  margin: 15px 0;
}

.approachPara {
  margin: 72px 0;
  width: 73%;
  line-height: 36px;
  word-spacing: 7px;
}

.approachImg1 {
  position: absolute;
  top: 135px;
  left: 68px;
  width: 45%;
  height: 330px;
  transition: 1s ease;
}

.approachCard:hover .approachImg1{
  transform: translateX(-300px);
  width: 30%;
}

.approachImg2 {
  position: absolute;
  top: 135px;
  right: 68px;
  width: 45%;
  height: 330px;
  transition: 1s ease;
  
}
.approachImg1>img{
  border-radius: 20px;
}
.approachImg2>img{
  border-radius: 20px;
}
.approachCard:hover .approachImg2{
  transform: translateX(300px);
  width: 30%;
}
